@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face{
    font-family:japan-font;
    src: url(fontes/HIROMISAKE.ttf) format('truetype');
}
*{
    margin: 0px;
    padding: 0px;
}
:root{
    --font1: japan-font,sans-serif;
}

body{
    background-image: url(imagens/bg-inicio.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
    background-color: black;
}
main{
    text-align: center;
    color: white;
    padding: 20px;
    
    & h1{
        margin-top: 200px;
        margin-bottom: 60px;
        font-family: var(--font1),Inter, sans-serif;
        font-size: 75px;
        font-weight: 200;
    }
    & span{
        font-size: 90px;
        font-weight: 500;
    }
    & p{
        max-width: 900px;
        text-align: center;
        margin: auto auto 60px auto;
        font-family: Inter, sans-serif;
        font-size: 30px;
        font-weight: 400;
    }
    
}

.seta-e{
    height: 50px;
    position: absolute;
    left: 40px;
    transform: translateX(0px);
    transition: all 200ms ease-in-out;
}
.seta-e:hover{
    height: 60px;
    transform: translateX(-5px);
}
.seta-d{
    height: 50px;
    position: absolute;
    right: 40px;
    
    transform: translateX(0px);
    transition: all 200ms ease-in-out;
}
.seta-d:hover{
    height: 60px;
    transform: translateX(5px);
}

.options{
    margin:100px auto auto auto;
    padding: 20px;
}
button{
    transform: translateY(0px);
    transition: all 200ms ease-in-out;

    height: 80px;
    width: 160px;
    margin: 10px;
    
    font-variant: small-caps;  
    font-size: 20px;
    font-family: var(--font1);
    text-align: center;
    text-decoration: none;
    
    border-color: transparent;
    background-color: white;
    color: black;  
}
button:hover{
    transform: translateY(-10px);
    font-size: 35px;
}

/* 450px media */
@media(width <= 450px) {
    
    main{
        text-align: center;
        color: white;
        padding: 20px;
        
        & h1{
            margin-top: 50px;
            margin-bottom: 100px;
            font-family: Inter, sans-serif;
            font-size: 60px;
            font-weight: 200;
        }
        & span{
            font-size: 70px;
            font-weight: 300;
        }
        & p{
            max-width: 430px;
            text-align: center;
            margin: auto auto 70px auto;
            font-family: Inter, sans-serif;
            font-size: 18px;
            font-weight: 2000;  
        }
        
    }
    
    .options{
        padding: 10px;
    }
    button{
        transform: translateY(0px);
        transition: all 200ms ease-in-out;
    
        height: 80px;
        width: 160px;
        margin: 50px 3px auto 3px;
        
        font-size: 25px;
        font-family: Inter, sans-serif;
        text-align: center;
        text-decoration: none;
        
        border-color: transparent;
        background-color: white;
        color: black;  
    
    
    }
    .flecha{
        opacity: 0;
    }

}