@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor1:#F1D5BB;
}
::-webkit-scrollbar{
    height: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face{
    font-family:japan-font;
    src: url(fontes/HIROMISAKE.ttf) format('truetype');
}


/* TELA TAMANHO 869h X 1581w*/

/* Inicio do Menu */
#container-opçoes{
    display:inline-block;
    width: 90px;
    margin: 30px 50px 0px 60px;
    border-radius: 15px;
    background-color: black;
    box-shadow: 7px 7px 17px rgba(0, 0, 0, 0.438);

    & img{
        height: 30px;
    }
}
#container-opçoes:hover{
    & #div-garfo{
        background-color: transparent;
   
        & #img-garfo{
            filter: brightness(0) invert(1);
        }
    }
    }


/* IMG DO GARFO */
#div-garfo{
    background-color: var(--cor1);
   
    & #img-garfo{
        filter: brightness(0) invert(0);
    }
}
#div-garfo:hover{
    background-color: transparent;
   
    & #img-garfo{
        filter: brightness(0) invert(1);
    }
}

/* DIV CLASS IMG DAS OPÇOES*/
.div-img{
    margin: 7px auto 7px auto;
    padding: 32px;
    display: flexbox;
    transition: all 0.6s ease-in-out;
}
.div-img:hover{
    background-color: var(--cor1);
    & img{
        filter: brightness(0) invert(0);
        height: 20px;
    }
  
}
.div-img > .img-tabela{
    display: block;
    margin: auto;
}

/* Fim do Menu kkkkk */

/* --------------------------- */

/* Inicio do cadapio */
h1{
    font-family: Inter, sans-serif;
    font-weight: 200;
    font-size: 50px;
    
    display: inline-block;
    position: absolute;
    
    z-index: 999;
    
    margin: 25px 30px 00px 40px;

    border-bottom: 4px solid var(--cor1);
    padding-bottom: 10px;

    transition: all 0.5s ease-in-out;
}


/* FIM DO H1 */
#cardapio{
    display: inline-block;
    margin: 00px 30px 0px 40px;
    columns: 4;
    transform: translateY(-67px);

    & img{
        height: 180px;
    }
}
.div-prato{
    margin: 00px 65px 25px 0px;
    z-index: 999;
    transition: all 0.3s ease-in-out;

    & p{
        margin:4px 0px 0px 0px ;
        text-align: center;
        font-family: Inter, sans-serif;
    }
    & img{
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.438);
    }
}
.div-prato:hover{
    transform: translate(0px, -12px);
}







/*fim do cardapio */

/* ----------------------- */

/* BUTON NA SECTION */
#button{
    width: 10px;
    display: inline-block;
    transform: translate(-570px, -10px);
    
    & input{
        margin: auto;
        padding: 10px 35px 10px 35px;
        
        background-color: black;
        color: white;
        border: none;
    
        font-size: 20px;
        font-weight: 100;
    }
}

